/* all */
a {
    text-decoration: none;
}


/* App */
header {
    background: linear-gradient(90deg, #162235, #233a54);
    max-width: 10000px;
    height: 40px;
    padding: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.routerLinks {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-size: 16px;
}

.routerViews {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}