@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* all */
A {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* Цвет ссылок */
}

A:visited {
    color: #000000;
    /* Цвет посещенных ссылок */
}

A:active {
    color: #000000;
    /* Цвет активных ссылок */
}


/* App */
header {
    border: 1px solid;
    border-color: white white #cccccc white;
    max-width: 10000px;
    height: 40px;
    padding: 7px;
    margin-left: -8px;
    margin-right: -8px;
}

.routerLinks {
    margin-left: 60px;
    margin-top: 8px;
    margin-right: 60px;
    font-size: 16px;
}

.routerViews {
    margin-left: auto;
    margin-right: auto;
    margin-left: 20px;
}


/* Home */
.main {
    color: #05141f;
    width: 415px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 1.5ch;
    border: 1px solid;
    border-color: #cdd0d2;
}

.newCar {
    border: 1px solid;
    width: 85px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    border-color: #cdd0d2;
    margin: 15px;
}

.name {
    color: black;
    font-size: 19px;
    font-weight: 500;
    margin: 15px;
}

.info {
    color: #697279;
    padding: 15px;
    font-size: 17px;
}

.homeImg {
    /* width: 500px; */
    height: 260px;
    margin-left: -70px;
    margin-bottom: -30px;
}

.price {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.kredit {
    color: #697279;
    font-size: 18px;
    margin-left: 20px;
}

.buyButton {
    width: 350px;
    height: 50px;
    background-color: #05141f;
    color: white;
    margin: 10px 20px 20px 20px;
    font-size: 14px;
    font-weight: 600;
}


/* filter */
.filtersFilters {
    background-color: #f8f8f8;
    height: 150px;
    font-size: 17px;
    margin-left: -38px;
    margin-right: -8px;
}


.filterColors {
    background-color: white;
    border: 1px solid;
    border-color: #cdd0d2;
    float: left;
    padding: 13px;
    font-size: 18px;
    margin: 7px;
    color: #697279;
    margin-left: 78px;
    margin-top: 20px;
}

.filterKuzov {
    background-color: white;
    border: 1px solid;
    border-color: #cdd0d2;
    float: left;
    padding: 13px;
    font-size: 18px;
    margin: 7px;
    color: #697279;
    margin-top: 20px;
}

.filterTransmission {
    background-color: white;
    border: 1px solid;
    border-color: #cdd0d2;
    float: left;
    padding: 13px;
    font-size: 18px;
    margin: 7px;
    color: #697279;
    margin-top: 20px;
}

.filterButtonsBlock {
    margin-left: 78px;
    width: 900px;
    font-size: 18px;
}


.filterButtons {
    background-color: #f8f8f8;
    border: 0;
    margin: 7px;
    font-size: 17px
}



.filterMain {
    color: #05141f;
    width: 400px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 1.5ch;
    border: 1px solid;
    border-color: #cdd0d2;
}

.filterNewCar {
    border: 1px solid;
    width: 85px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    border-color: #cdd0d2;
    margin: 15px;
}

.filterName {
    color: black;
    font-size: 19px;
    font-weight: 500;
    margin: 15px;
}

.filterInfo {
    color: #697279;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 17px;
}

.filterHomeImg {
    height: 250px;
    margin-left: -70px;
    margin-bottom: -30px;
}

.filterPrice {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.filterKredit {
    color: #697279;
    font-size: 18px;
    margin-left: 20px;
}

.filterBuyButton {
    width: 350px;
    height: 50px;
    background-color: #05141f;
    color: white;
    margin: 10px 20px 20px 20px;
    font-size: 14px;
    font-weight: 600;
}


/* recycle */
.recycleMain {
    color: #05141f;
    width: 415px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 1.5ch;
    border: 1px solid;
    border-color: #cdd0d2;
}

.recycleNewCar {
    border: 1px solid;
    width: 85px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    border-color: #cdd0d2;
    margin: 15px;
}

.recycleName {
    color: black;
    font-size: 19px;
    font-weight: 500;
    margin: 15px;
}

.recycleInfo {
    color: #697279;
    padding: 15px;
    font-size: 17px;
}

.recycleHomeImg {
    /* width: 500px; */
    height: 260px;
    margin-left: -70px;
    margin-bottom: -30px;
}

.recyclePrice {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.recycleKredit {
    color: #697279;
    font-size: 18px;
    margin-left: 20px;
}

.recycleBuyButton {
    width: 350px;
    height: 50px;
    background-color: #05141f;
    color: white;
    margin: 10px 20px 20px 20px;
    font-size: 14px;
    font-weight: 600;
}



/* product */


.productTable {
    color: #05141f;
    width: 415px;
    float: right;
     margin-left: 40px;
    margin-top: 40px;
    border-radius: 1.5ch;
    border: 1px solid;
    border-color: #cdd0d2;
}